@import "tailwindcss";
@plugin "daisyui";

/* General Sans Font Definitions */

/* --- Extralight --- */
@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

/* --- Light --- */
@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

/* --- Regular --- */
@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* --- Medium --- */
@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

/* --- Semibold --- */
@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

/* --- Bold --- */
@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'General Sans';
  src: url('../src/assets/fonts/GeneralSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}



:root {
    --color-primary: #001327; /* Blue Main */
    --color-secondary: #002A57; /* Blue Select */
    --color-accent: #62C1A3; /* Green Accent */
    --color-up: #449E7B; /* Green Up */
    --color-black: #1B1B1B; /* Black */
    --color-hov: #021F40; /* Blue Hover */
}